@font-face {
    font-family: 'SuisseIntl-Book-WebM';
    src: url('assets/SuisseIntl-Book-WebM.woff') format('woff'),
         url('assets/SuisseIntl-Book-WebM.woff2') format('woff2'),
         url('assets/SuisseIntl-Book-WebM.ttf') format('truetype');    
}
head{;
  margin: 0
  padding: 0;
}
h1{
	font-size: 60px;
  line-height: 60px;
	font-family: 'SuisseIntl-Book-WebM';
  font-weight: 500;
  color: black;
  -webkit-font-smoothing: antialiased;
  text-decoration:none;
  z-index: 1;
  padding-top: 40px;
  max-width: 64%;
  padding-left: 6.25%;
  letter-spacing: -0.05em;
  padding-bottom: 6.25%;
}
h2{
   padding-left: 6.25%;
   font-family: 'SuisseIntl-Book-WebM';
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  line-height: 34px;
}
h3{
  padding-left: 6.25%;
}

img{
  max-width: 87.50%;
      display:block;
    margin:auto;
    padding-bottom: 4%;
}
p{
  padding-left: 6.25%;
font-family: 'SuisseIntl-Book-WebM';
  padding-bottom: 12px;
  max-width: 640px;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 24px;
  color: #888;
}
body{
  background-color: #fff;
  margin: 0;
}
span{
  font-size: 18px;
}


a{

   font-family: 'SuisseIntl-Book-WebM';
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  
  text-decoration: none;
  color: black;
  

}
a:hover{
  text-decoration: underline;
}

.tag{
  border-style: solid;
  border-color: #222;
  border-width: 1px;
  max-width: 10%;
}
.b{
  padding-left: 6.25%;

}
button{
    outline: 0.5px;
    background-color: #fff;
    border-color: #888;
    border-width: 1px;
    color: #888;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    
    font-family: "SuisseIntl-Book-WebM";
    -webkit-font-smoothing: antialiased;
  }

nav{
  position: fixed;
}
a.contact{
  color: #222;
  text-align: left;
  
}
.btns{
  padding-left: 6.25%;
}
ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: solid;
    border-color: #eaeaea;
    border-width: 1px;

    
    padding: 20px;
}
li.contact{
  display: inline-block;
  color: #222;
  font-family: "SuisseIntl-Book-WebM";
  padding-left: 20px;
}
li.logo{
  float: left;
}
.circle {
  height: 10px;
  width: 10px;
  background-color: #222;
  border-radius: 50%;
}




        /* MOBILE!!!!!!!!!! */

@media screen and (max-width:720px) {
  h1{
  font-size: 42px;
  line-height: 42px;
  font-family: 'SuisseIntl-Book-WebM';
  font-weight: 500;
  color: black;
  padding-top: 12.5%;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 6.25%;
  padding-left: 10px;
}
h2{
  font-size: 20px;
  font-family: 'SuisseIntl-Book-WebM';
  font-weight: 500;
  color: black;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  display: block;
  padding-right: 6.25%;
  padding-top: 40px;
  padding-left: 10px;
}
  #Projects{
  padding-left: 6.25%;
  max-width: 800px;
}
img{
	max-width: 100%;
	padding-left: 0%;

}
p{
  padding-left: 10px;
}
.container{
	padding-top: 0;
}
ul{
	padding-bottom: 0px;
}
.card{
	height: 300px;
}
p.footertext{
	padding-top: 1020px;
	font-size: 18px;
	padding-bottom: 20px;
}







