

h1{
	font-size: 30px;
  line-height: 42px;
	font-family: 'Arial';
  font-weight: 300;
  color: white;
  width: 57.14%;
  max-width: 600px;
  padding-top: 12.5%;
  padding-left: 12.5%;
  padding-bottom: 6.25%;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.03em;
  text-decoration:none;
  z-index: 1;

}
body#background {
  background: url('Sizzle-stack-Comp.gif') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
p{
  font-family: 'Arial';
  font-size:18px;
  letter-spacing: 0.01em;
  color: white;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  padding-left: 12.5%;
  max-width: 480px;
  padding-bottom: 6.25%;


}
h1.Intro{
  padding-top: 6.25%;
}
h1.Projectheadline{
  padding-top: 0%;
}
h1.Projectheadline{
  padding-top: 6.25%;
  font-size: 42px;
  padding-bottom: 6.25%;
}
h1:hover{
  text-decoration: none;
}
h1.pullquote{
  padding-top: 0%;
  padding-bottom: 6.25%;
  width: 100%;
  padding-left: 6.25%;
  max-width: 800px;


}
h1.RecircHeadline{
  padding-top: 0%;
}
#Projects{
  padding-left: 12.5%;
  max-width: 800px;
}
#Projects_recirc{
  padding-left: 12.5%;
  max-width: 800px;
  padding-top: 6.25%;
}
.attribute{
  padding-left: 0%;
  padding-bottom: 0%;
  font-style: normal;
}

h2{
  font-size: 18px;
  font-family: 'Arial';
  font-weight: 300;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  display: block;
  padding-right: 6.25%;
  letter-spacing: 0.02em
}
h2:hover{
  text-decoration: underline;
  color: white;
}
a{
  text-decoration: none;
}
a:hover{ 
    text-decoration: underline;
    color: #fff;
}

h3{
  font-size: 14px;
  font-family: 'Arial';
  font-weight: 300;
  color: white;
  padding-left: 12.5%;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.02em;
  z-index: -1000;

}
.back{
  font-size: 18px;
  font-family: 'Arial';
  font-weight: 300;
  color: white;
  max-width: 57.14%;
  padding-left: 12.5%;
  padding-top: 6.25%;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.02em

}
.Images{
  padding-left: 6.25%;
  padding-right: 6.25%;
  height: auto; 
  width: auto; 
}
img{
  max-width: 100%;
  padding-bottom: 6.25%;
}
.twitter{
  padding-bottom: 6.25%
}
.email{
  padding-top: 6.25%
}
body {
    background-color: #222222;
    max-width: 100%;
}

::selection {
    background-color: black;
    color: #fff;}

@media screen and (max-width:568px) {
  h1{
  font-size: 30px;
  line-height: 40px;
  font-family: 'Arial';
  font-weight: 300;
  color: white;
  padding-top: 12.5%;
  padding-left: 6.25%;
  padding-bottom: 6.25%;
  width: 90%;
  -webkit-font-smoothing: antialiased;
}
h2{
  font-size: 20px;
  font-family: 'Arial';
  font-weight: 300;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  display: block;
  padding-right: 6.25%;
  line-height: 36px;
}
  #Projects{
  padding-left: 6.25%;
  max-width: 800px;
}
h3{
  font-size: 14px;
  font-family: 'Arial';
  font-weight: 300;
  color: white;
  max-width: 57.14%;
  padding-left: 6.25%;
  -webkit-font-smoothing: antialiased;}

p{
  padding-left: 6.25%;
}
h2.back{
  padding-left: 6.25%;
}
h1.Projectheadline{
  padding-top: 6.25%;
  font-size: 42px;
line-height: 48px;
  padding-bottom: 6.25%;
}
h1.pullquote{
  padding-top: 0%;
  padding-bottom: 6.25%;
  width: 100%;
  padding-left: 0%;
  font-size: 24px;
  line-height: 30px;


}





